
<ul class="menu p-4 w-80 text-base-content">
    <!-- Sidebar content here -->
    <li><NavLink href="/inputs">Inputs</NavLink></li>
    <li><NavLink href="/selects">Selects</NavLink></li>
    <li><NavLink href="/fetchdata">Fetch data</NavLink></li>
    <li><NavLink href="/counter">Counter</NavLink></li>
</ul>
