
<BlazorDaisyUI.Dialog.Dialog>
    <DialogContent>
        <div>This is a dialog.</div>
    </DialogContent>
</BlazorDaisyUI.Dialog.Dialog>

@code {

    [CascadingParameter] public BlazorDaisyUI.Dialog.Dialog? Dialog { get; set; }

}
