@page "/inputs"

<h1 class="font-mono text-2xl font-semibold pb-3">Inputs</h1>

<h1 class="font-mono text-xl font-semibold py-1">Builder:</h1>
<div class="flex">
    <InputField Color=InputColor.Error />
</div>
<div class="flex flex-wrap gap-3 justify-items-center content-center bg-base-200 p-3">
    <input type="text" placeholder="Type text here" class="input w-full max-w-xs" />
    <input type="number" placeholder="Type number here" class="input w-full max-w-xs" />
    <input type="date" class="input w-full max-w-xs" />
    <input type="time" class="input w-full max-w-xs" />
    <input type="datetime-local" class="input w-full max-w-xs" />
</div>

<h1 class="font-mono text-xl font-semibold py-1">Types:</h1>
<div class="flex flex-wrap gap-3 justify-items-center content-center bg-base-200 p-3">
    <input type="text" placeholder="Type text here" class="input w-full max-w-xs" />
    <input type="number" placeholder="Type number here" class="input w-full max-w-xs" />
    <input type="date" class="input w-full max-w-xs" />
    <input type="time" class="input w-full max-w-xs" />
    <input type="datetime-local" class="input w-full max-w-xs" />
</div>

<h1 class="font-mono text-xl font-semibold py-1">Bordered:</h1>
<div class="flex flex-wrap gap-3 justify-items-center content-center bg-base-200 p-3">
    <input type="text" placeholder="Type text here" class="input input-bordered w-full max-w-xs" />
    <input type="number" placeholder="Type number here" class="input input-bordered w-full max-w-xs" />
    <input type="date" class="input input-bordered w-full max-w-xs" />
    <input type="time" class="input input-bordered w-full max-w-xs" />
    <input type="datetime-local" class="input input-bordered w-full max-w-xs" />
</div>

<h1 class="font-mono text-xl font-semibold py-1">Disabled:</h1>
<div class="flex flex-wrap gap-3 justify-items-center content-center bg-base-200 p-3">
    <input type="text" placeholder="Type text here" class="input input-bordered w-full max-w-xs" disabled />
    <input type="number" placeholder="Type number here" class="input input-bordered w-full max-w-xs" disabled />
    <input type="date" class="input input-bordered w-full max-w-xs" disabled />
    <input type="time" class="input input-bordered w-full max-w-xs" disabled />
    <input type="datetime-local" class="input input-bordered w-full max-w-xs" disabled />
</div>

<h1 class="font-mono text-xl font-semibold py-1">Readonly:</h1>
<div class="flex flex-wrap gap-3 justify-items-center content-center bg-base-200 p-3">
    <input type="text" placeholder="Type text here" class="input input-bordered w-full max-w-xs" readonly />
    <input type="number" placeholder="Type number here" class="input input-bordered w-full max-w-xs" readonly />
    <input type="date" class="input input-bordered w-full max-w-xs" readonly />
    <input type="time" class="input input-bordered w-full max-w-xs" readonly />
    <input type="datetime-local" class="input input-bordered w-full max-w-xs" readonly />
</div>

<h1 class="font-mono text-xl font-semibold py-1">Ghost:</h1>
<div class="flex flex-wrap gap-3 justify-items-center content-center bg-base-200 p-3">
    <input type="text" placeholder="Type text here" class="input input-ghost w-full max-w-xs" readonly />
    <input type="text" placeholder="Type text here" class="input input-ghost input-primary w-full max-w-xs" readonly />
</div>

<h1 class="font-mono text-xl font-semibold py-1">Datalist:</h1>
<div class="flex flex-wrap gap-3 justify-items-center content-center bg-base-200 p-3">
    <input type="text" list="ice-cream-flavors" placeholder="Type text here" class="input input-bordered w-full max-w-xs" />
    <datalist id="ice-cream-flavors">
        <option value="Chocolate" />
        <option value="Coconut" />
        <option value="Mint" />
        <option value="Strawberry" />
        <option value="Vanilla" />
    </datalist>
</div>