@page "/counter"
@inject BlazorDaisyUI.Dialog.IDialogService DialogService

<PageTitle>Counter</PageTitle>

<h1>Dialog</h1>

<button class="btn btn-primary" @onclick="OpenDialog">Click me</button>

@code {

    private async Task OpenDialog()
    {
        var options = new BlazorDaisyUI.Dialog.DialogOptions
        {
            CloseButton = true,
        };

        var dialogRef = await DialogService.ShowAsync<Demo.Client.Dialogs.DemoDialog>("Some cool title", options);

        var dialogResult = await dialogRef.Result;
    }
}
